body{
    background-color:rgb(235, 225, 225);
}

h1{color: lightpink;
    text-align: center;
    font-size: 40px;}
    
p{font-size: 20px;
    text-align:justify;}

li{margin-top: 15px; margin-left: 18px;}


.itens{
     font-weight: bold;
     font-size: 18px;
}

img{border-radius: 10px;}

.pais{font-size: 30px;
      border-collapse: collapse ;
        background-color: lightpink;}
        
        

#PC{position:absolute;
    right: 750px;
    top: 205px;
}
a{  font-size: 40px;
    color: blue;}
a:hover{ color: crimson;}